
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  /* line-height: 90px; */
}
body{
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}
.header{
  background: black;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 1520px;
  border: 1px solid red;
  padding: 0 40px;
}
.header-container {
  /*width: calc(100% - 40px);*/
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  /*padding: 0 70px;*/
}

.logo {
  /* background-image: url("logo.png"); */
  width: 195px;
color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 28px;
  letter-spacing: 5px;
  
}
.logo h1{
 padding-top: 5px;
}

.navigation {
  color: white;
  width: 718px;
  font-size: 22px;
  letter-spacing: 2px;
}
ul {
  /*padding: 50px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
  /*padding: 50px;*/
}
.title{
  color: #9D8665;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;

}

.title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: red;
}
main{
  margin: 0 auto;
  padding: 0;
}
.Welcome {
  background: black;
height: 750px;
 /* background: black url('assets/background.jpg')100% 50%/615px 320px no-repeat;
  text-transform: uppercase;
  padding: 75px;*/
}
.wrapper_welcome{
  background: black url('assets/background.jpg') 100% 50%/1215px 750px no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}
.wrapper_welcome .dark-section {
  background-color:transparent ;
}
.dark-section {
  color: white;
height: 100%;
background-color: black;
  /*margin: 0;*/
  /*border: 1px solid blue;*/
 
  text-transform: uppercase;
  /*padding: 75px;*/
}

.section-title{
  font-size: 80px;
  width: 598px;
  height: 390px;
  margin-top: 105px;
}
.more_info{
  font-size: 28px;
  text-transform: none;
  margin-top: 25px;
  letter-spacing: 2px;
}
.btn{
  background-color: #710707;
  width: 360px;
  height: 75px;
}
.visiting {
  border: 1px solid green;
  padding: 70px;
}
.Explore {
  display: flex;
}
.Explore span {
  color: #caaa7d;
  /* padding: 75px; */
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
  max-width: 1440px;
}
.card-container a {
  display: block;
}
.card-container img {
  width: 400px;
  height: 285px;
}
.explore-container {
  display: flex;
}
.restored-pic {
  width: 720px;
  height: 700px;
}
.Tickets {
}
.tickets-container {
  display: flex;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.content {
}
.image {
  background-image: url("assets/background.jpg");
}
/* .section {
  padding: 75 75;
} */
/* .section-title {
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
} */
